{
  "extends": [
    "next",
    "prettier"
  ],
  "prettier/prettier": [
    0,
    {
      "endOfLine": "auto"
    },
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
