html {
  color: white;
  background-color: black;
}

/* .nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
} */

nav {
  background: rgba(0, 0, 0, 0) !important;
  display: flex;
}

.uk-card-media-top {
  margin: auto;
}

.uk-card {
  text-align: center;
}

.back-button {
  text-align: left;
}

.crazy-link-style:hover {
  background-color: rgba(199, 130, 197, 0.7);
  border-color: white;
  border-style: solid;
}

.nav__menu-list {
  margin-left: auto;
  flex-direction: row;
  /* position: fixed; */
  top: 0px;
  width: 95%;
  z-index: 1000;
  list-style-type: none;
  justify-content: center;
  display: flex;
  font-size: 24px;
}

.nav__menu-list {
  /* display: flex; */
}

.nav-button:hover {
  background-color: rgba(199, 130, 197, 0.7);
  border-color: white;
  border-style: solid;
}

.nav-button {
  background-color: rgba(0, 0, 0, 0.88);
  padding: 15px;
}

.partcard-wrapper {
  width: 40%;
  height: auto;
}

.partcard-container {
  background: rgba(0, 0, 0, 0.842);
  height: 500px;
  overflow: hidden;
}

.parts-container {
  width: 52%;
}

.nav__menu-bar {
  display: none;
}

@media only screen and (max-width: 1150px) and (min-width: 1001px) {
  .partcard-wrapper {
    width: 50%;
    height: auto;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
  .partcard-wrapper {
    width: 60%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .partcard-wrapper {
    width: 50%;
    height: auto;
  }
  .parts-container {
    width: 100%;
    margin-top: 10%;
  }
  .partcard-container {
    background: rgba(0, 0, 0, 0);
    border-color: gray;
    border-top: solid;
  }
  .body-foreground {
    width: 600px !important;
  }
  .nav-button:hover {
    border-style: none;
  }
  .nav__menu-list {
    flex-direction: column;
    position: fixed;
    top: 0px;
    width: 95%;
    visibility: hidden;
    background-color: rgba(0, 0, 0);
    margin-top: 100px;
    z-index: 1000;
    list-style-type: none;
    align-items: center;
    display: flex;
    font-size: 24px;
  }
  .nav__menu-list.active {
    visibility: visible;
  }
  .menu-icon {
    position: relative;
    flex-direction: column;
    row-gap: 16px;
    cursor: pointer;
    margin-top: 30px;
    display: flex;
  }
  .menu-icon div {
    width: 200px;
    margin-left: 105%;
    height: 10px;
    background-color: white;
    border-radius: 8px;
  }
  .back-button {
    font-size: 24px;
  }
  p {
    font-size: 24px;
  }
}

@media only screen and (max-width: 400px) {
  .partcard-wrapper {
    width: 60%;
    height: auto;
  }
  .parts-container {
    width: 100%;
    background: rgba(0, 0, 0, 0);
  }
}
